@model AdminDO

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Error != null)
                {
                    <div class="alert mb-3">
                        <div class="alert-danger">
                            @ViewBag.Error
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @*<h4 class="card-title">Sample Form with the Icons</h4>
                        <h6 class="card-subtitle">made with bootstrap elements</h6>*@
                        <form class="form p-t-20" method="post">
                            <input type="hidden" asp-for="@Model.Id" />
                            <div class="form-group">
                                <label asp-for="@Model.Username"></label>
                                @*<div class="input-group">
                <div class="input-group-addon mt-2"><i class="ti-user"></i></div>
                <input type="text" class="form-control ml-3" asp-for="@Model.Username" placeholder="Username" />
            </div>*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" asp-for="@Model.Username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
                                    <div class="col-12 row">
                                        <span class="text-danger" asp-validation-for="@Model.Username"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Name"></label>
                                @*<div class="input-group">
                <div class="input-group-addon mt-2"><i class="ti-user"></i></div>
                <input type="text" class="form-control ml-3" asp-for="@Model.Name" placeholder="Name" />
            </div>*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon2" />
                                    <div class="col-12 row">
                                        <span class="text-danger" asp-validation-for="@Model.Name"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Surname"></label>
                                @*<div class="input-group">
                <div class="input-group-addon mt-2"><i class="ti-user"></i></div>
                <input type="text" class="form-control ml-3" asp-for="@Model.Surname" placeholder="Surname" />
            </div>*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" asp-for="@Model.Surname" placeholder="Surname" aria-label="Surname" aria-describedby="basic-addon3" />
                                    <div class="col-12 row">
                                        <span class="text-danger" asp-validation-for="@Model.Surname"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Email"></label>
                                @*<div class="input-group">
                <div class="input-group-addon mt-2"><i class="ti-email"></i></div>
                <input type="email" class="form-control ml-3" asp-for="@Model.Email" placeholder="Enter email" />
            </div>*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon4"><i class="ti-email"></i></span>
                                    </div>
                                    <input type="text" class="form-control" asp-for="@Model.Email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon4" />
                                    <div class="col-12 row">
                                        <span class="text-danger" asp-validation-for="@Model.Email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password"></label>
                                @*<div class="input-group">
                <div class="input-group-addon mt-2"><i class="ti-lock"></i></div>
                <input type="password" class="form-control ml-3" asp-for="@Model.Password" placeholder="Enter email" />
            </div>*@
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon5"><i class="ti-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon5" />
                                    <div class="col-12 row">
                                        <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" asp-for="@Model.Confirmation"></label>
                                <div class="checkbox checkbox-success">
                                    @*@Html.CheckBox("Confirmation", false, Model.Confirmation)*@
                                    @*<input type="checkbox" asp-for="@Model.Confirmation" aria-label="Checkbox for following text input" asp-va />
                @Html.EditorFor(x => x.Confirmation)*@
                                    <input type="radio" asp-for="@Model.Confirmation" checked value="1" />
                                    <label asp-for="@Model.Confirmation">Active</label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input type="radio" asp-for="@Model.Confirmation" checked value="0" />
                                    <label asp-for="@Model.Confirmation">Deactive</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Create</button>
                            @*<button type="button" class="btn btn-warning waves-effect waves-light" asp-controller="Admin" asp-action="Index">Cancel</button>*@
                            <a class="btn btn-warning waves-effect waves-light" asp-controller="Admin" asp-action="Index">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>