@model AdminDO

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @if (ViewBag.Error != null)
            {
                <div class="alert mb-3">
                    <div class="alert-danger">
                        @ViewBag.Error
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Admin</h4>
                    <form class="form p-t-20" method="post">
                        <shoppy-input asp-for="@Model.Id" type="hidden"></shoppy-input>
                        <shoppy-input asp-for="@Model.CreatedAt" type="hidden"></shoppy-input>

                        @*<div class="form-group">
                            <label asp-for="@Model.Username"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control" asp-for="@Model.Username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
                                <div class="col-12 row">
                                    <span class="text-danger" asp-validation-for="@Model.Username"></span>
                                </div>
                            </div>
                        </div>*@

                        <shoppy-input asp-for="@Model.Username" inputIcon="user"></shoppy-input>
                        <shoppy-input asp-for="@Model.Name" inputIcon="user"></shoppy-input>
                        <shoppy-input asp-for="@Model.Surname" inputIcon="user"></shoppy-input>
                        <shoppy-input asp-for="@Model.Email" inputIcon="email"></shoppy-input>
                        <shoppy-input asp-for="@Model.Password" inputIcon="lock" type="password" asp-value="@ViewBag.Pass"></shoppy-input>

                        <div class="form-group">
                            <label class="control-label" asp-for="@Model.Confirmation"></label>
                            <div class="checkbox checkbox-success">
                                <input type="radio" asp-for="@Model.Confirmation" checked value="1" />
                                <label asp-for="@Model.Confirmation">Active</label>
                            </div>
                            <div class="checkbox checkbox-success">
                                <input type="radio" asp-for="@Model.Confirmation" checked value="0" />
                                <label asp-for="@Model.Confirmation">Deactive</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Edit</button>
                        @*<button type="submit" class="btn btn-warning waves-effect waves-light">Cancel</button>*@
                        <a class="btn btn-warning waves-effect waves-light" asp-controller="Admin" asp-action="Index">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>